<!DOCTYPE HTML>
<html lang="en" xml:lang="en">
<head>
  <title>La-La</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="static/css/style.css"  media="screen,projection"/>
</head>
<body>
  <main>
    <nav>
      <div class="nav-wrapper container" role="navigation">
        <a href="https://google.com" class="brand-logo"><i class="material-icons">cloud</i></a>
        <ul id="nav-mobile" class="right hide-on-mid-and-down">
          <li><a href="auth">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="section">
      <br><br>
      <div class="container">
        <h1 class="center">La-La</h1>
        <div class="row center">
          <h5 class="col s12 light">Yet another <i class="material-icons">delete</i> lab assistant management application</h5>
        </div>
        <br>
        <div class="row center">
          <a href="assistant" class="waves-effect waves-light btn"><i class="material-icons left">rowing</i>Assistant Login</a>
        </div>
        <div class="row center">
          <a href="account-info" class="waves-effect waves-light btn"><i class="material-icons left">pregnant_woman</i>Secret Button</a>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.js"></script>
</body>
</html>
